<%= form_for(@page, :url => {:action => @form_action}, :html => { :class => 'form-horizontal' } ) do |fp| %>
	<% if @page.errors.any? %>
		<div id="error_explanation" class="alert alert-danger" role="alert">
			<h2><%= pluralize(@page.errors.count, "error") %> prohibited this Page from being saved:</h2>
			<ul>
				<% @page.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		
		<% if @form_action == 'update' %>
			<span class='col-xs-12'>
				<span class = 'col-xs-9'><%= fp.text_field :name, :class => 'form-control' %></span>
	        	<span class='col-xs-2'><%= fp.submit 'Submit', :class => "btn btn-primary", :style => 'float:right;' %></span>
	      	</span>
		
		<% else %>

			<div class="form-group">
				<h2 style="padding-left: 10px;">Create a New Page</h2>
			</div>

			<div class="form-group">
				<%= fp.label :name, :class => 'col-lg-2 control-label' %>
				<div class="col-lg-10">
					<%= fp.text_field :name, :class => 'form-control' %>
				</div>
			</div>

			<div class="form-group" style="margin-top: 50px;">
		      <div class="col-lg-10 col-lg-offset-1">
		        <%= fp.submit 'Submit', :class => "btn btn-primary" %>
		      </div>
		    </div>
		<% end %>

	</fieldset>

<% end %>